$primary: #f0a80b;
$secondary:#143e57;
$success:#008000;
$info:#212121;
$danger:#f70000;
$light:#f7f7f7;
$dark: #333333;
$border:#aeaeae;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1480px
);

// Theme variable
$h1-font-size:  2rem;
$small-font-size: 0.85rem;
$rfs-base-font-size: 0.85rem;
$btn-font-family: "Poppins", sans-serif;
